#container{
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
}

.h1 .h2 .h3 .h4{
  background-color: #18192e;
  color: #3c5361;
  border: 1px solid #D6A800;
  padding: 10px;
}
a{
  color: #24242e;
}
a:hover{
  color: #434454;
}
a:visited{
  color: #64657d;
}
