body{
    background-color: #475B5A;
}
header{
    background-color:#475B5A;
    color: #BBBBBF;
    padding: 20px;
    text-align: center;
}
h1{
    text-align: center;
    color: white;
    font-weight: bold;
}

#navbar{
    overflow: hidden;
    background-color: #BBBBBF;
    border-bottom: solid 15px #8D8E8e;
}
#navbar a{

    display: inline-block;
    list-style-type: none;
    text-align: center;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar a:hover{
    background-color: #A3a9aa;
    color: white;

}
#container {
    display: inline-flex;
    gap: 10%;
  }
#container h1{
    font-size: 80px;
}
#left{
    margin-left: 30px;
    height: 200px;
    width: 95%;
    text-wrap: wrap;
    color: white;
}
#left p{
    line-height: 2.0;
}
#right{
    margin-top: 30px;
    margin-right: 50px;
    width: 100%;
    height: auto;
}
#container img{
    height: auto;
    width: 100%;
    border-radius: 10%;
}

img{
    height: 20%;
}

.photos{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-row: inherit;
    grid-gap: 10px;
}

.photos img{
    height: auto;
    width: 100%;
}
.photo{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-row: inherit;
}

.photo img{
    height: auto;
    width: 100%;
}
.car{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    line-height: 2.0;
    margin: 20px;
    box-shadow: 10px 10px 5px beige;
}
.car p{
    color: #BBBBBF;
}
.sea{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    line-height: 2.0;
    margin: 20px;
    box-shadow: 10px 10px 5px beige;
}
.sea p{
    color: #BBBBBF;
}
.alt{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    line-height: 2.0;
    margin: 20px;
    box-shadow: 10px 10px 5px beige;
    object-fit: contain;
}
.alt img{
    height: 400px;
    width: auto;
    object-fit: contain;
}
.alt p{
    color: #BBBBBF;
}
.burma{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    line-height: 2.0;
    margin: 20px;
    box-shadow: 10px 10px 5px beige;
}
.burma p{
    color: #BBBBBF;
}
.fish{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    line-height: 2.0;
    margin: 20px;
    box-shadow: 10px 10px 5px beige;
}
.fish img{
    height: 400px;
    width: auto;
    object-fit: contain;
}
.fish p{
    color: #BBBBBF;
}
.yellow{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    line-height: 2.0;
    margin: 20px;
    box-shadow: 10px 10px 5px beige;
}
.yellow p{
    color: #BBBBBF;
}